.heading2{
    color: rgb(95, 139, 95);
}
.btn1{
    background-color: rgb(95, 139, 95);
    color:white;
}
.btn4{
    background-color: rgb(95, 139, 95);
    color:white;
}
.mainlogin{
    background-color: rgba(195, 241, 195, 0.555);
}