.heading{
    color: rgb(95, 139, 95);
}
.btn2{
    background-color: rgb(95, 139, 95);
    color:white;
}
.btn3{
    background-color: #5f8b5f;
    color:white;
}
.btn4{
    background-color: #c3f1c38e;
    color:white;
}
.mainsignup{
    background-color: #c3f1c38e;
}