.btn-pink-1{
    background-color: #F08080;
    color: white;
}
.btn-pink-2{
    background-color: #F4978E;
    color: white;
}
.btn-pink-3{
    background-color: #F8AD9D;
    color: white;
}
.btn-pink-4{
    background-color: #FBC4AB;
    color: white;
}
.btn-pink-5{
    background-color: #FFDAB9;
    color: white;
}
.btn-yellow-1{
    background-color: #fdb833;
    color: white;
}
.btn-yellow-2{
    background-color: #fdc43f;
    color: black;
}
.btn-yellow-3{
    background-color: #ffda3d;
    color: black;
}
.btn-yellow-4{
    background-color: #ffe94e;
    color: black;
}
.btn-yellow-5{
    background-color: #fff75e;
    color: black;
}
.btn-blue-1{
    background-color: #03045e;
    color: white;
}
.btn-blue-2{
    background-color: #023e8a;
    color: white;
}
.btn-blue-3{
    background-color: #0077b6;
    color: white;
}
.btn-blue-4{
    background-color: #00b4d8;
    color: white;
}
.btn-blue-5{
    background-color: #90e0ef;
    color: white;
}
.btn-maroon-1{
    background-color: #641220;
    color: white;
}
.btn-maroon-2{
    background-color: #85182A;
    color: white;
}
.btn-maroon-3{
    background-color: #A71E34;
    color: white;
}
.btn-maroon-4{
    background-color: #BD1F36;
    color: white;
}
.btn-maroon-5{
    background-color: #DA1E37;
    color: white;
}
.btn-green-1{
    background-color: #1b4332;
    color: white;
}
.btn-green-2{
    background-color: #2d6a4f;
    color: white;
}
.btn-green-3{
    background-color: #40916c;
    color: white;
}
.btn-green-4{
    background-color: #52b788;
    color: white;
}
.btn-green-5{
    background-color: #74c69d;
    color: white;
}
.btn-brown-1{
    background-color: #7f5539;
    color: white;
}
.btn-brown-2{
    background-color: #9c6644;
    color: white;
}
.btn-brown-3{
    background-color: #b08968;
    color: white;
}
.btn-brown-4{
    background-color: #ddb892;
    color: white;
}
.btn-brown-5{
    background-color: #e6ccb2;
    color: white;
}
.btn-purple-1{
    background-color: #7b2cbf;
    color: white;
}
.btn-purple-2{
    background-color: #735D78;
    color: white;
}
.btn-purple-3{
    background-color: #B392AC;
    color: white;
}
.btn-purple-4{
    background-color: #D1B3C4;
    color: white;
}
.btn-purple-5{
    background-color: #E8C2CA;
    color: white;
}

.my-btn{
    border-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}